html, body {
    font-family: Open Sans;
    font-size: 14px;
    height: 100%;
}

body {
    max-width: 540px;
    margin: 0px auto;
    padding: 24px 0px 100px;
    background: url(/static/saber.png) no-repeat;
    background-position: calc(100% - 50px) 100%;
    box-sizing: border-box;
}

a {
    color: #5764c6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #4551a7;
}

h2 {
    font-size: 14px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 8px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

th, td {
    padding: 3px 5px;
}

th {
    border-bottom: 2px solid #CCCCCC;
}

td {
    border: 1px solid #DDDDDD;
}

.online, .offline {
    border-radius: 3px;
    color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 1em;
}

.online span, .offline span {
    padding: 8px 12px;
    display: inline-block;
}

.online .type, .offline .type {
    border-radius: 4px 0px 0px 4px;
}

.online {
    background: #f0f7f4;
    border: 1px solid #69b99e;
    border-radius: 4px;
    color: #3d9c7c;
}

.online .type {
    background: #d8f1e6;
}

.offline {
    background: #FFF8F8;
    border: 1px solid #e29999;
    border-radius: 4px;
    color: #CC6666;
}

.offline .type {
    background: #ffe4e4;
}

.updated {
    color: #888888;
    font-weight: 700;
    font-size: 12px;
}
