<!DOCTYPE html>
<html>
    <head>
        <title>Saber</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500|Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <h2>Servers</h2>
        {% for server in servers %}
        <aside class="{% if server[1] %}online{% else %}offline{% endif %}">
            <span class="type">
                {{ server[0][1] }} Droplet
            </span>
            <span>
                {{ server[0][0] }}
            </span>
        </aside>
        {% endfor %}
        <h2>Services</h2>
        {% for service in services %}
        <aside class="{% if service[1] %}online{% else %}offline{% endif %}">
            <span>
                {{ service[0][0] }}
            </span>
        </aside>
        {% endfor %}
    </body>
</html>
