<!DOCTYPE html>
<html>
    <head>
        <title>Saber</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500|Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <a href="https://reticent.io">← Back To reticent.io</a>
        <!-- Last Updated hardcoded isn't cheating...it's on a cronjob... -->
        <h2>
            Servers
            <span class="updated">Updated One Minute Ago</span>
        </h2>
        {% for server in status.servers %}
        <aside class="{% if server.status %}online{% else %}offline{% endif %}">
            <span class="type">
                {{ server.type }} Droplet
            </span>
            <span>
                {{ server.name }}
            </span>
        </aside>
        {% endfor %}
        <h2>
            Services
            <span class="updated">Updated One Minute Ago</span>
        </h2>
        {% for service in status.services %}
        <aside class="{% if service.status %}online{% else %}offline{% endif %}">
            <span>
                {{ service.name }}
            </span>
        </aside>
        {% endfor %}
    </body>
</html>
