<!DOCTYPE html>
<html>
    <head>
        <title>Saber</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,500|Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
    </head>
    <body>
        <!-- <a href="https://reticent.io">← Back To reticent.io</a> -->
        <!-- Last Updated hardcoded isn't cheating...it's on a cronjob... -->
        {% for category in status.checklist %}
            <h2>
                {{ category.category }}
                <span class="updated">Updated One Minute Ago</span>
            </h2>
            {% for item in category.list %}
                <aside class="{% if item.status==1 %}online{% elif item.status==2 %}slow{% else %}offline{% endif %}">
                    {% if item.type %}
                        <span class="type">
                            {{ item.type }}
                        </span>
                    {% endif %}
                    <span>
                        {{ item.name }}
                    </span>
                </aside>
            {% endfor %}
        {% endfor %}
        <footer>
            <p>
                Powered by <a href="https://github.com/WildAndrewLee/Dashboard">Dashboard: SE</a>
            </p>
        </footer>
    </body>
</html>
